.CommentList-comment-container {
  display: flex;
  display: row;
}

.CommentList-delete {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}
.CommentList-comment {
  font-style: italic;
}

.CommentList-alert-success {
  background-color: #12c99b;
  color: white;
}
